[submodule "frontend"]
	path = frontend
	url = https://github.com/Lazizjon-web-dev/event-manager-app.git
[submodule "backend"]
	path = backend
	url = https://github.com/AbrorPatidinov/event-manager-app.git
